root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,py,toml,yaml}]
charset = utf-8
indent_style = space

[*.{md,py,toml}]
indent_size = 4

[*.py]
max_line_length = 88

[*.yaml]
indent_size = 2

[Makefile]
indent_style = tab
